{% extends "base.html" %}

{% block content %}
  <ul>
  Bonjour ceci est une page d'accueil qui va vous permettre de visualiser les differents 
  profils en fonction de critères.

  Ce travail à été effectué en langage Python et de bibliothèques comme Flask,Flask sqlalchemy...

  le lien github de ce projet est disponible via https://github.com/marieS06/Projet01.

    <h2>
  À savoir que vous aurez besoin d'installer certains packages si vous souhaitez l'installer 

  sur votre ordinateur.</h2>

  Techniques :

  Nettoyage des données et trie des csv : reindexage, création des tables, insertions des données depuis
  le programme avec Pgadmin, jointures entre les tables.
  
  À vous de jouer !
  </ul>
  <a class= 'bouton' href="{{ url_for('formulaire')}}"> Entrer deans le GAMES et decrouvez des secrets bien gardé à savoir qui
    est dans cette école et qui a cette passion et aussi dans cette banque...pour le découvrir tapé ici ...
  </a><br> 
 

{% endblock %}